*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
a:focus{
    outline: none;
    border: none;
}
@font-face {
    font-family: "Comforta";
    src: url(/fonts/Comfortaa-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Comforta";
    src: url(/fonts/Comfortaa-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Comforta";
    src: url(/fonts/Comfortaa-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Comforta";
    src: url(/fonts/Comfortaa-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Exo";
    src: url(/fonts/Exo2-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Exo";
    src: url(/fonts/Exo2-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Exo";
    src: url(/fonts/Exo2-SemiBold.ttf);
    font-weight: 600;
}

/*----header----*/

.btn_with_auth{
    margin-left: 50px;
}
.logo_mau{
    font-family: "Comforta";
    font-size: 36px;
    font-weight: 600;
    color: white;
}
header{
    height: 80px;
    width: 100%;
    background-color: #127369;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn_header{
    background-color: #10403B;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    font-family: "Exo";
    font-weight: 400;
    font-size: 20px;
    margin-left: 20px;
    border: none;
    outline: none;
}
.header_center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_left{
    margin-left: 50px;
}
.header_right{
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.search{
    height: 35px;
    width: 500px;
    display: flex;
    border: 2px solid #8AA6A3;
    border-radius: 100px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}
.search_input{
    outline: none;
    border: none;
    font-family: "Exo";
    font-weight: 300;
    font-size: 20px;
    margin-left: 20px;
    width: 85%;
}
.btn_search{
    height: 20px;
    width: 20px;
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-right: 20px;
}
.btn_search img{
    width: 100%;
    height: 100%;
}
.personal_area_btn{
    height: 50px;
    color: white;
    font-family: "Exo";
    font-weight: 600;
    text-align: center;
    display: inline-block;
}
.personal_area_btn_img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.personal_area_btn_img img{
    height: 35px;
    width: 35px;
}

/*-----index------*/

.main_frame{
    width: 1350px;
    margin: 0 auto;
}
.hero{
    width: 100%;
    margin-top: 25px;
}
.hero1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.hero1_left{
    width: 65%;
    height: 450px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}
.hero1_left_block{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
}
.hero1_left_block img{
    height: 100%;
}
.hero1_right_block{
    height: 100%;
    width: 50%;
    background-color: #084641;
    padding: 15px;
    position: relative;
}
.hero1_right{
    width: 32%;
    height: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    position: relative;
}
.hero1_right p{
    position: absolute;
    padding: 10px 15px;
    background-color: #FB5555;
    bottom: 8%;
    left: 8%;
    font-family: "Exo";
    font-size: 25px;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.hero1_right span{
    position: absolute;
    padding: 10px 15px;
    background-color: #565656;
    bottom: 9%;
    left: 33%;
    font-family: "Exo";
    font-size: 15px;
    color: white;
    text-align: center;
    border-radius: 10px;
    text-decoration: line-through;
}
.hero1_right img{
    height: 100%;
}
.hero2_title{
    font-family: "Exo";
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
    font-size: 35px;
}
.hero1_right_block_title{
    font-family: "Exo";
    font-size: 25px;
    color: white;
}
.hero1_right_block_desc{
    font-family: "Exo";
    font-weight: 300;
    font-size: 17px;
    color: white;
    margin-top: 10px;
}
.hero1_right_block_cost{
    display: inline-block;
    font-family: "Exo";
    font-size: 45px;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    position: absolute;
    left: 5%;
    bottom: 5%;
}
.hero1_right_block_btn{
    background-color: #8AA6A3;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
    bottom: 5%;
}
.hero1_right_block_btn img{
    width: 70%;
    height: 70%;
}

/*-----catalogue-----*/

.catalogue_title{
    font-family: "Exo";
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
    font-size: 35px;
}
.catalogue{
    display: grid;
    grid-template-columns: repeat(5, 240px);
    width: 100%;
    max-width: 1350px;
    justify-content: center;
    justify-items: center;
    column-gap: 15px; /* Отступ между колонками */
    row-gap: 15px; /* Отступ между рядами */
}
.catalogue_card{
    width: 240px;
    height: 350px;
    background-color: #ffffff;
    border-radius: 30px;
    border: 2px solid #127369;
}
.catalogue_card_up{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.catalogue_img{
    background-color: white;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.catalogue_img img{
    width: 100%;
}
.catalogue_card_name{
    color: black;
    font-family: "Exo";
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}
.catalogue_card_down{
    position: relative;
    width: 100%;
    height: 30%;
}
.catalogue_card_cost{
    font-family: "Exo";
    font-size: 20px;
    color: black;
    position: absolute;
    bottom: 8%;
    left: 40%;
}

/*---slider---*/

*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}
.container{
    width: 80%;
    margin: 0 auto;
}
.itc-slider-item{
    max-width: 20%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider_product_card{
    height: 100%;
    width: 85%;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider_product_card img{
    width: 100%;
}
.slider_cost{
    position: absolute;
    padding: 5px 15px;
    background-color: #2FB1A4;
    bottom: 5%;
    left: 5%;
    font-family: "Exo";
    font-size: 18px;
    color: white;
    text-align: center;
    border-radius: 10px;
}

/*----reg-----*/

.reg_title{
    font-family: "Comforta";
    font-weight: 600;
    font-size: 35px;
    color: white;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 20px;
}
.form_block{
    width: 600px;
    margin: 0 auto;
}
.form_block p{
    text-align: center;
    margin-bottom: 5px;
}
.form_block p label{
    color: white;
    font-family: "Exo";
    font-size: 20px;
}
.reg_auth_input{
    outline: none;
    border: none;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: "Comforta";
    font-weight: 600;
    font-size: 20px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}
.form_btn{
    background-color: #62D3C8;
    color: white;
    outline: none;
    border: none;
    padding: 10px 25px;
    font-family: "Comforta";
    font-weight: 600;
    font-size: 20px;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 8px 18px 1px rgba(0, 0, 0, 0.25);
    display: inline-block;
}
.form_but_cent{
    display: flex;
    justify-content: center;
    width: 100%;
}

/*----auth-----*/

.auth_title{
    font-family: "Comforta";
    font-weight: 600;
    font-size: 35px;
    color: white;
    text-align: center;
    margin-top: 220px;
    margin-bottom: 20px;
}

/*----product----*/

.count {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.count .change {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    cursor: pointer;
    border: 1px solid #127369;
}
.count .change img{
    width: 50%;
}
.count_end{
    margin-left: 25px;
    font-family: "Exo";
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
}
.count .input_count {
    max-width: 30px;
    height: 30px;
    text-align: center;
    font-family: "Exo";
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #127369;
    margin: 0 5px;
}

.product_frame{
    width: 100%;
    height: 400px;
    display: flex;
    margin-top: 20px;
}
.product_frame_left{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_frame_left img{
    height: 100%;
}
.product_frame_right{
    width: 40%;
    height: 100%;
}
.product_frame_title{
    font-family: "Exo";
    font-size: 35px;
    margin-top: 20px;
    font-weight: 600;
}
.product_frame_cost{
    font-family: "Exo";
    font-size: 35px;
    margin-top: 20px;
}
.product_frame_but{
    margin-top: 30px;
    width: 100%;
    display: flex;
}
.product_but_left{
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #127369;
    font-family: "Comforta";
    font-weight: 600;
    font-size: 20px;
    padding: 10px 45px;
    border-radius: 100px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.product_but_right{
    outline: none;
    border: 2px solid #127369;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: white;
    font-family: "Comforta";
    font-weight: 600;
    font-size: 20px;
    padding: 10px 45px;
    border-radius: 100px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
}
.product_seller{
    margin-top: 30px;
    font-family: "Exo";
    display: flex;
    align-items: center;
    font-size: 17px;
}
.product_seller_photo{
    width: 60px;
    height: 60px;
    margin-right: 25px;
}
.product_seller img{
    height: 100%;
    width: 100%;
}
.product_description_block{
    width: 100%;
}
.product_description_title{
    font-family: "Exo";
    text-align: left;
    font-weight: 600;
    margin-bottom: 20px;
}
.product_description{
    font-family: "Exo";
    font-weight: 600;
}
.product_reviews_block{
    width: 100%;
}
.product_reviews_title{
    font-family: "Exo";
    text-align: left;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
}
.review_answer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.review_answer input{
    width: 80%;
    padding: 5px 15px;
    font-family: "Exo";
    font-size: 18px;
    margin-right: 5px;
    border-radius: 15px;
    height: 50px;
    border: 2px solid #127369;
    outline: none;
}
.review_answer input:focus{
    border: 2px solid #084641;
}
.review_answer button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #127369;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}
.review_answer button:hover{
    background-color: #189487;
}
.review_answer button img{
    width: 80%;
}
.review_block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.review_img{
    width: 67px;
    height: 67px;
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review_img img{
    width: 100%;
    height: 100%;
}
.review_block_text{
    width: 85%;
    font-family: "Exo";
}
.review_name{
    font-weight: 600;
    font-size: 25px;
}
.review_date{
    font-family: "Exo";
    display: flex;
    justify-content: right;
    width: 80px;
    color: rgba(0, 0, 0, 0.6);
}

/*-----personal_area-----*/

.profile{
    width: 100%;
}
.profile_pic{
    border-radius: 100%;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
}
.profile_pic img{
    width: 100%;
}
.profile p{
    text-align: center;
    margin-top: 10px;
    font-family: "Exo";
    font-weight: 600;
    font-size: 30px;
}
.profile a{
    color: #2FB1A4;
    font-family: "Exo";
    font-weight: 300;
    font-size: 23px;
}
.orders_profile{
    width: 100%;
}
.title_order_profile{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #127369;
    color: white;
    font-family: "Exo";
    font-size: 25px;
    display: flex;
    font-weight: 600;
    align-items: center;
    margin: 20px auto;
    border: none;
    cursor: pointer;
}
.orders_profile_list1{
    display: none;
    width: 100%;
}
.orders_profile_list2{
    display: grid;
    grid-template-columns: repeat(3, 440px);
    width: 100%;
    max-width: 1350px;
    justify-content: center;
    justify-items: center;
    column-gap: 10px; /* Отступ между колонками */
    row-gap: 10px; /* Отступ между рядами */
}
.order_card{
    width: 440px;
    height: 200px;
    display: flex;
    background-color:#127369;
    border-radius: 20px;
}
.order_card_left{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order_card_left_img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    width: 160px;
    height: 160px;
    background-color: white;
}
.order_card_left_img img{
    width: 100%;
}
.order_card_right{
    position: relative;
    width: 55%;
}
.order_card_right p{
    font-family: "Exo";
    font-weight: 600;
}
.order_card_right_number{
    font-size: 20px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}
.order_card_right_name{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
}
.order_card_right_text{
    color: rgba(255, 255, 255, 0.8);
    margin-top: 5px;
}
.order_card_right_status{
    color: white;
    position: absolute;
    bottom: 20px;
}
.request_send_form1{
    display: none;
    width: 100%;
}
.request_send_form2{
    width: 100%;
}
.request_send_form2 label{
    font-family: "Exo";
    font-weight: 600;
    font-size: 25px;
}
.request_input_block{
    margin: 10px 0;
}
.file_profile_input{
    width: 500px;
    padding: 8px;
    font-family: "Exo";
    font-size: 20px;
    border: 1px solid #127369;
    outline: none;
}
.text_profile_input{
    width: 500px;
    padding: 8px;
    font-family: "Exo";
    font-size: 20px;
    border: 1px solid #127369;
    outline: none;
}
.request_input_but{
    background-color: #127369;
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: "Exo";
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}
.request_input_but:hover{
    background-color: #2FB1A4;
}
.product_list1{
    display: none;
    width: 100%;
}
.product_list2{
    display: grid;
    grid-template-columns: repeat(4, 270px);
    width: 100%;
    max-width: 1350px;
    justify-content: center;
    justify-items: center;
    column-gap: 30px; /* Отступ между колонками */
    row-gap: 30px; /* Отступ между рядами */
}
.product_card_profile{
    width: 270px;
    height: 470px;
    background-color: #127369;
    border-radius: 30px;
}
.product_card_profile_up{
    width: 100%;
    height: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_card_profile_up_img{
    background-color: white;
    height: 230px;
    width: 230px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_card_profile_up_img img{
    width: 100%;
}
.product_card_profile_down{
    width: 100%;
    height: 43%;
    position: relative;
}
.product_card_profile_down p{
    text-align: center;
    color: white;
    font-family: "Exo";
    font-size: 20px;
    font-weight: 600;
}
.bottom_product_card{
    position: absolute;
    bottom: 8%;
    left: 15%;
}
.btn_product_card_profile{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.btn_product_card_profile a{
    font-family: "Exo";
    font-size: 18px;
    color: white;
    background-color: #2FB1A4;
    padding: 10px 30px;
    border-radius: 10px;
}
.card_add_product{
    width: 270px;
    height: 470px;
    background-color: rgba(18, 115, 105, 0.5);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_add_product img{
    width: 60%;
}

/*------busket------*/

.title_busket{
    font-family: "Exo";
    font-weight: 600;
    margin: 30px 0;
}
.table_busket{
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}
.th_busket{
    border-bottom: 2px solid #127369;
    font-family: "Exo";
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    font-size: 25px;
}
.input_count_busket{
    max-width: 40px;
    height: 30px;
    text-align: center;
    font-family: "Exo";
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #127369;
    margin: 0 5px;
    outline: none;
}
.td_busket{
    text-align: center;
    font-family: "Exo";
    font-weight: 600;
    font-size: 20px;
}
.td_busket img{
    height: 200px;
}
.td_busket a img{
    width: 25px;
    height: 25px;
}
.tr_busket{
    overflow: hidden;
}
.text_busket_info{
    font-family: "Exo";
    font-weight: 600;
    font-size: 25px;
}
.info_busket{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40p;
}
.adres_input{
    width: 50%;
    text-align: center;
    padding: 8px 20px;
    border: 2px solid #2FB1A4;
    outline: none;
    font-family: "Exo";
    font-size: 18px;
}
.adres_input:focus{
    border: 2px solid #127369;
}

/*----addProduct-----*/

.addProduct_title{
    font-family: "Comforta";
    font-weight: 600;
    font-size: 35px;
    color: white;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
}
.addProduct_back{
    color: white;
    font-family: "Comforta";
    font-weight: 600;
    font-size: 20px;
}
.textarea_addProduct{
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 80%;
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: "Comforta";
    font-weight: 600;
    font-size: 17px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    resize: none;
}
.addProduct_file_input{
    background-color: white;
    outline: none;
    border: none;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    width: 54%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: "Comforta";
    font-weight: 600;
    font-size: 17px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

/*-----editProduct------*/

